<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- You MUST include jQuery 3.4+ before Fomantic -->
    <meta data-th-replace="~{fragments/scripts::js_css}"/>
    <title>Search</title>
</head>
<body>

<div class="ui container">
    <div class="ui padded segment">
        <h1 class="ui dividing header">PostgreSQL Full Text Search (FTS)</h1>

        <div class="ui padded segment">

            <h2 class="ui dividing sub header">
                Fuzzy search
            </h2>

            <div class="ui horizontal search padded basic segment">
                <div class="ui fluid icon input">
                    <input class="prompt" type="text" placeholder="fuzzy search...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>

            <script>
                $('.ui.search')
                  .search({
                    apiSettings: {
                      url: '/api/search?q={query}'
                    },
                    minCharacters: 3
                  });

            </script>

        </div>


        <div class="ui padded segment">
            <h2 class="ui dividing sub header">
                Category search
            </h2>

            <p>category search</p>
        </div>
    </div>


</div>

</body>
</html>